.idea/
*.iml
.gradle/
**/build/
**/bin/
**/obj/
.vs/
**/publish/
out/
vcpkg_installed/
local.properties
desktop-windows/src/P2PAudio.Windows.App/runtimes/**/*.dll
search_env/
nul
DerivedData/
*.xcuserstate
**/xcuserdata/
.DS_Store
